<section class="content" id="cv">
    <div class="page-header hidden-print">
        <h2>Mon CV</h2>
        <div class="pull-right"><a href="javascript: void(0);" onclick="window.print();"><i class="glyphicon glyphicon-download-alt"></i> Télécharger la version PDF (par l'impression) !</a></div>
    </div>
    <div class="row">
        <div class="col-xs-3"><h3 class="bg">Expériences</h3></div>
    </div>

    {% for experience in resume.experiences %}
        <div class="row {% if loop.last %}hidden-print{% endif %}">
            <div class="col-xs-3 text-right">
                <div class="mb5"><i class="glyphicon glyphicon-calendar"></i> {{ experience.formattedDate }}</div>
                {% if (experience.stopedAt is null) %}
                    <i class="text-muted">Depuis ~ {{ experience.formattedDuration }}</i>
                {% else %}
                    <i class="text-muted">{{ experience.formattedDuration }}</i>
                {% endif %}
            </div>

            <div class="col-xs-9">
                <div class="mb5">
                    <h4>{{ experience.title }}</h4> <a target="_blank" href="{{ experience.url() }}">{{ experience.urlLabel }}</a>
                </div>
                <p>{{ experience.description|raw|nl2br }}</p>
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="visible-print">
        <div class="row">
            <div class="col-xs-3"><h3 class="bg">Projets persos</h3></div>
            <div class="col-xs-9">
                {% for realisation in resume.realisations if realisation.visiblePrint %}
                    <h4>{{ realisation.title }}</h4> {{ realisation.url }}
                    <p>{{ realisation.printDescription }}</p>
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-3"><h3 class="bg">Compétences web</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">PHP</span></div>
        <div class="col-xs-9">PHP objet, normes PSR-x, injection de dépendances, abstraction et interfaçage.</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">&nbsp;SGBD</span></div>
        <div class="col-xs-9">MySQL - indexations, optimisations, ORM Doctrine.</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">JS</span></div>
        <div class="col-xs-9">Legacy, JQuery, API HTML5 (service worker, push, ...)</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">Intégration</span></div>
        <div class="col-xs-9">HTML5, CSS, less, Bootstrap, Twig, schema.org.</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">Frameworks & librairies</span></div>
        <div class="col-xs-9">Symfony, Silex, CasperJS & PHPUnit</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">Environnement</span></div>
        <div class="col-xs-9">PhpStorm, GIT, Composer, Jenkins, serveur LAMP / Nginx.</div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right"><span class="label label-success">Notions</span></div>
        <div class="col-xs-9">Elasticsearch, Atoum, MongoDB, développement mobile avec Ionic 2 & Angular 2</div>
    </div>


    <hr />
    <div class="hidden-print">
        <div class="row">
            <div class="col-xs-3"><h3 class="bg">Diplômes</h3></div>
        </div>

        {% for degree in resume.degrees %}
            <div class="row">
                <div class="col-xs-3 text-right">
                    <i class="glyphicon glyphicon-calendar"></i> {{ degree.formattedDate }}<br />
                </div>

                <div class="col-xs-9">
                    <div class="mb5">
                        <h4>{{ degree.title }}</h4> <a target="_blank" href="{{ degree.url }}">{{ degree.urlLabel }}</a>
                    </div>
                    <p>{{ degree.description|nl2br }}</p>
                </div>
            </div>
        {% endfor %}
        <hr />
    </div>

    <div class="row">
        <div class="col-xs-3"><h3 class="bg">Autre</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-3 text-right">Langues</div>
        <div class="col-xs-9">
            <p>Anglais : Lecture de doc maîtrisée, compréhension oral acceptable, amateur de vost.</p>
        </div>
        <div class="col-xs-3 text-right">Caractère</div>
        <div class="col-xs-9">
            <p>Calme, sociable, curieux, autodidacte. J'aime apprendre tout autant que transmettre.</p>
        </div>
        <div class="col-xs-3 text-right">Sports</div>
        <div class="col-xs-9">
            <p>Tennis de table, baby-foot, Hearthstone & Heroes of the Storm.</p>
        </div>
    </div>
</section>
