<section class="content" id="idendity">
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <img itemprop="image" class="img-thumbnail float-left profile-pic mr-3" src="{{ asset(resume.getPhoto()) }}" width="133" alt="{{ resume.getName() }}" />
            <h1 itemprop="name" class="h2 text-uppercase">{{ resume.getName() }}</h1>
            <h2 class="h4"><span itemprop="jobTitle">{{ resume.getJobTitle() }}</span></h2>
            <div class="d-print-none">
                <hr style="overflow: hidden" />
                {% if resume.getStatus() %}
                    {% if resume.getStatusType() == 'available' %}
                        <a class="btn btn-success" href="#contact" data-handler="scroll"><i class="fas fa-fire"></i> {{ resume.getStatus() }}</a>
                    {% else %}
                        <span class="btn btn-danger"><i class="fas fa-ban"></i> {{ resume.getStatus() }}</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-5 col-lg-4">
            <div class="card text-right">
                <div class="card-content">
                    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="margin-bottom: 0">
                        <i class="fas fa-map-marker-alt"></i> {# <span itemprop="postalCode">{{ resume.getZip() }}</span> #} <span itemprop="addressLocality">{{ resume.getCity() }}</span>
                    </address>
                    <i class="fas fa-at"></i> jonathan.plantey@gmail.com<br />
                    <i class="fas fa-link"></i> <a itemprop="url" href="{{path('home')}}">http://www.jonathan-plantey.fr</a><br />
                    <i class="fas fa-signal"></i> <span itemprop="birthDate" content="1986-05-02">{{ resume.age.y }} ans</span>
                    <ul class="networks d-print-none m-0">
                        {% for network in resume.getNetworks() %}
                            <li class="list-inline-item px-1"><a href="{{network.getUrl()}}" target="_blank" title="{{network.getName()}}"><i class="{{network.getIconClass()}}"></i></a></li>
                        {% endfor %}
                    </ul>
                    <span class="d-none d-print-inline-block"><i class="fab fa-github-alt"></i> https://github.com/johndodev</span>
                </div>
            </div>
        </div>
    </div>
</section>
