<section class="content d-print-none" id="realisations">
    <div class="page-header">
        <h2 class="h4">Mes réalisations</h2>
    </div>
    {% for realisation in resume.realisations %}
        <div class="row">
            <div class="col-md-4">
                <a href="{{ realisation.url }}" target="_blank"><img class="img-fluid" src="http://www.apercite.fr/api/apercite/320x240/non/{{ realisation.url }}"></a>
            </div>
            <div class="col-md-8">
                <i class="text-muted float-right">{{ realisation.startedAt | localizeddate('none', 'none', 'fr', null, 'MMMM yyyy') }}</i>
                <h4>{{ realisation.title }}</h4>
                <p><a href="{{ realisation.url }}" target="_blank">{{ realisation.urlLabel | default(realisation.url) }}</a></p>
                {{ realisation.description | raw }}
            </div>
        </div>
        <hr>
    {% endfor %}
</section>
